@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,700&family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image:
    url("../img/SalonGB.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 25px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

/* .menu .navbar ul li a:hover {
    color: black;
} */

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 15px;
    color: white;
    padding: 0 250px;
    margin-bottom: 30px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: black;
    color: #F9FAFC;
    text-transform: uppercase;
}

.form {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 100px 0;
}

#citaForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form h1 {
    text-align: center;
    color: black;
    font-size: 60px;
    margin-bottom: 30px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form input[type="text"],
input[type="date"],
input[type="time"],
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.form button[type="submit"]:hover {
    background-color: #555;
}
