@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200;1,700&family=Permanent+Marker&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: 
    url("../img/SalonGB.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 25px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 15px;
    color: white;
    padding: 0 250px;
    margin-bottom: 30px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: black;
    color: #F9FAFC;
    text-transform: uppercase;
}

.cuidados {
    padding: 100px 0;
    background: #E1E2E6;
    position: relative;
}

.cuidados-content {
    text-align: center;
}

.cuidados-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.text-cuidados {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.cuidados-group {
    display: flex;
    flex-wrap: wrap; /* Cambiamos la propiedad flex-wrap para permitir el flujo de varios elementos en filas y columnas */
    justify-content: space-between;
    margin-bottom: 50px;
}

.cuidados-1 {
    padding: 25px;
    flex: 1 1 calc(33.33% - 80px); /* Aproximadamente 1/3 del ancho del contenedor */
    /* Redefinimos los márgenes para espaciar adecuadamente los elementos */
    margin: 0 40px 40px 0;
}

.cuidados-1 img {
    width: 100%; /* Establecemos el ancho de la imagen al 100% del div */
    margin-bottom: 10px; /* Eliminamos el margen inferior de las imágenes */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    object-fit: cover; /* Cubre todo el espacio del div sin cambiar la relación de aspecto */
}

.cuidados-1 h3 {
    margin-bottom: 10px;
}

.cuidados-1 p {
    margin-bottom: 15px;
}

.cuidadosGB1, .cuidadosGB2, .cuidadosGB3, .cuidadosGB4, .cuidadosGB5, .cuidadosGB6 {
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
}

footer {
    padding: 100px 0;
    background: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.links h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    color: #F9FAFC;
}

.links p {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #F9FAFC;
}

.icons i {
    display: block;
    margin: 20px 0;
    font-size: 22px;
    color: white;
}

/* .cuidados {
    padding: 100px 0;
    background: #E1E2E6;
    position: relative;
}

.cuidados-content {
    text-align: center;
}

.cuidados-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: black;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.text-cuidados {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.cuidados-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.cuidados-1 {
    padding: 25px;
}

.cuidados-1 img {
    width: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.cuidados-1 h3 {
    margin-bottom: 10px;
}

.cuidados-1 p {
    margin-bottom: 15px;
}

.cuidadosGB1 {
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    margin: 40px;
    border: .1rem solid rgba(0,0,0,.1);
}

.cuidadosGB2 {
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    margin: 40px;
    border: .1rem solid rgba(0,0,0,.1);
}

.cuidadosGB3 {
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    margin: 40px;
    border: .1rem solid rgba(0,0,0,.1);
} */